{% extends "base.html" %}
{% block title %}Purchasing{% endblock %}

{% block content %}
<h1 align="center">Purchasing</h1>
<div class="container">
    <p>Welcome to the Purchasing module! Add your content here.</p>

    <img src="{{ url_for('static', filename='images/20180224_135134.jpg') }}" alt="Purchasing Image" style="max-width: 50%; height: auto;">

    <img src="{{ url_for('static', filename='images/20180708_083244.jpg') }}" alt="Purchasing Image" style="max-width: 50%; height: auto;">
</div>
{% endblock %}